body {
    background-color:bisque
}

img.logo {
    width: 450px;
    height: auto;
    margin-bottom: 10px;
    display: block;
  margin: 0 auto;
}
img.Tarta {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: block;
  margin: 0 auto;
}
img.Chaja {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: block;
  margin: 0 auto;
}
img.box {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: block;
  margin: 0 auto;
}

img.box-4 {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: block;
  margin: 0 auto;
}
div.imagenes-del-titulo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
h1 {
    font-family: 'Caacupe One', sans-serif;
    color: #216e5e;
    text-align: center;
    margin-top: 20px;
}

h2  {
    font-family: 'Caacupe One', sans-serif;
    color: #947445;
    text-align: center;
    margin-top: 10px;
}

div.postres {
    h3 {
        font-family: 'Caacupe One', sans-serif;
        color: #32574f;
    }
    font-family: 'Caacupe One', sans-serif;
    background-color: #f8e1e7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

div.cookies {
    h3 {
        font-family: 'Caacupe One', sans-serif;
        color: #dfaa5c;
    }
    font-family: 'Caacupe One', sans-serif;
    background-color: #c6fd6c;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

div.salados {
    h3 {
        font-family: 'Caacupe One', sans-serif;
        color: #b3932b;
    }
    font-family: 'Caacupe One', sans-serif;
    background-color: #8ccbd3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
@media (max-width: 768px) {
flex-direction: column;

}
